<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/385c72a6-b4e9-47ba-a5f2-b4a00cfac424/resourceGroups/MAJResource/providers/Microsoft.Web/sites/MAJServices</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://majservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>majservices.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MAJServices</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MAJServices</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>